<div>
    <div class="header">
        <div class="logo">
            <span class="logo-badge">{{brandName}}</span>
        </div>
        <nav class="header-nav">
            <div class="header-nav2">
                <div class="nav">
                    {{#each links}}
                        <a href="{{url}}" class="nav-link">{{text}}</a>
                    {{/each}}
                </div>
            </div>
        </nav>
    </div>
	<hr class="hr">
    <div class="header-bottom">
        <div class="header-bottom-block">
            <div class="badge-ad">Ad</div>
            <div class="header-bottom-text">{{ad.text}}: <a href="{{url}}" class="url">{{ad.url}}</a></div>
        </div>
        <div class="users">Users online: {{userOnline}}</div>
    </div>
</div>